// Colors

$header-red: #f72210;
$color-white: #fff;
$color-yellow: #ffe400;
$color-black: #000;
$color-grey: #777; 
$color-grey-light: #aaa;
$color-grey-lighter: rgb(231, 231, 231);
$color-grey-dark: #333;
$color-body: #f4f5f6;
$color-blue: #3581f4;