// Page links

.page__links {

    border-bottom: 1rem solid $color-grey-lighter;

    &-list {
        list-style: none;
    
        li {
            padding-top: 1rem;
            margin: 0 2.5rem;
            font-size: 1.8rem;
            font-weight: bold;
    
            a {
                color: $color-grey;
                text-decoration: none;
            }
    
            a:hover {
                color: $header-red;
            }
        }
    }
}